.projects-container {
    color: #e2e8f0;
    font-size: 1.3rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 1em;
    min-height: 100vh;
}

.projects-list {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

@media (max-width: 640px) {
    .projects-list {
        flex-direction: column;
    }
}